<nav class="breadcrumb" style="padding:10px;" aria-label="{{ 'general.breadcrumb.label' | t | escape }}">
  <ol class="breadcrumb__list unstyled-list">
    <!-- Home -->
    <li class="breadcrumb__list-item">
      <a href="{{ routes.root_url }}" class="smallcaps {% unless show_image %}link-faded{% endunless %}">
        {{- 'general.breadcrumb.home' | t -}}
      </a>
    </li>

    <!-- Shop or All Products -->
    <li class="breadcrumb__list-item">
      <a
        href="{{ routes.all_products_collection_url }}"
        class="smallcaps {% unless show_image %}link-faded{% endunless %}"
      >
        {{- 'general.breadcrumb.shop' | t -}}
      </a>
    </li>

    <!-- Collection -->
    {% if collection %}
      <li class="breadcrumb__list-item">
        <a href="{{ collection.url }}" class="smallcaps {% unless show_image %}link-faded{% endunless %}">
          {{- collection.title -}}
        </a>
      </li>
    {% endif %}

    <!-- Product Title -->
    <li class="breadcrumb__list-item" aria-current="page">
      <span class="smallcaps">{{ product.title }}</span>
    </li>
  </ol>
</nav>
